<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Todo App</title>
</head>

<body>
    <main>
        <section class="frame">
            <!-- synchronous form -->
            <form id="form_sync" class="entryform" action="/todos/create" method="post">
                <input type="text" name="description" id="description" class="description">
                <input type="submit" class="submit" value="Create Todo (Sync)">
            </form>
            <!-- asyncronous form (ajax) using fetch in js -->
            <form id="form_async" class="entryform">
                <input type="text" name="description_a" id="description_a" class="description">
                <input type="submit" class="submit" value="Create Todo (Async)">
            </form>

            <div id="error" class="hidden">Something went wrong!</div>

            <ul id="todoitems" class="todos">
                {% for d in data %}
                <li class="todoitem"><span class="todotext">{{ d.description }}</span></li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>