<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Todo App</title>
</head>

<body>
    <main>
        <section class="frame">
            <h3>Todo Lists</h3>
            <form id="listform" class="entryform" action="/lists/create" method="POST">
                <input type="text" name="listdescription" id="listdescription" class="description" required>
                <input type="submit" class="submit" value="Create List">
            </form>
            <div id="listerror" class="hidden">Something went wrong with the list</div>
            <p id="selected" class="hidden">{{ selected }}</p>
            <ul id="todolist" class="todos">
                {% for l in list %}
                <li id="listitem" class="todoitem" data-id="{{ l.todolistid }}">
                    <input type="checkbox" name="listcomplete" id="listcomplete" class="check-completed"
                        data-id="{{ l.todolistid }}" {% if l.completed %} checked {% endif %}>
                    <a id="listname" class="todotext" data-id="{{ l.todolistid }}" href="/lists/{{ l.todolistid }}">{{
                        l.name }}</a>
                    <button type="submit" id="delete-list" class="delete-todo"
                        data-id="{{ l.todolistid }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section class="frame">
            <!-- synchronous form -->
            <!-- <form id="form_sync" class="entryform" action="/todos/create" method="post">
                <input type="text" name="description" id="description" class="description">
                <input type="submit" class="submit" value="Create Todo (Sync)">
            </form> -->
            <!-- asyncronous form (ajax) using fetch in js -->
            <h4 id="selectedlistname"></h4>
            <form id="form_async" class="entryform">
                <input type="text" name="description_a" id="description_a" class="description">
                <input type="submit" class="submit" value="Create Todo (Async)">
            </form>

            <div id="error" class="hidden">Something went wrong!</div>

            <ul id="todoitems" class="todos">
                {% for d in data %}
                <li class="todoitem">
                    <input type="checkbox" name="complete" id="complete" data-id="{{ d.todoid }}"
                        class="check-completed" {% if d.completed %} checked {% endif %}>
                    <span class="todotext">{{ d.description }}</span>
                    <button type="submit" id="delete-todo" class="delete-todo" data-id="{{ d.todoid }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>